button, #citySubmit{
    margin: .5em;
}
form{
    margin-left: .25em;
}
.form-label{
    font-size: 30px;
}
ul{
    list-style-type: none;
    width: fit-content;
}
td{
    margin: .5em;
    padding: .25em;
}
#currentCity{
    font-size: 2em;
}
#searchHistory{
    display: flex;
    width: 50%;
}
#cityChoice{
    width: 15em;
}

button{
    background-color: #45B8CC;
    font-size: large;
}
body{
    background-color: #3895A6;
    margin-left: 1em;
    font-size: 2em;
}