button, #citySubmit{
    margin: .5em;
}
form{
    margin-left: .25em;
}
.form-label{
    font-size: 30px;
}
ul{
    list-style-type: none;
    width: fit-content;
}
td{
    margin: .5em;
    padding: .25em;
}
#currentCity{
    font-size: 2em;
}